<p>TASKS LIST</p>
<div *ngIf="filterInfo">
  Assigned user
  <select id="users1" name="users1" [value]="null" (change)="selectAssignedUser($event)">
    <option *ngFor="let user of filterInfo.assigned_to" [value]="user.id">{{ user.full_name }}</option>
  </select>
  <br/>
  Created by
  <select id="users2" name="users2" [value]="null" (change)="selectCreatedByUser($event)">
    <option *ngFor="let user of filterInfo.assigned_to" [value]="user.id">{{ user.full_name }}</option>
  </select>
  <br/>
  Status
  <select id="status" name="status" [value]="null" (change)="selectStatus($event)">
    <option *ngFor="let status of filterInfo.statuses"
            [value]="status.id"
            (select)="selectUser($event)">{{ status.name }}</option>
  </select>
</div>
<div *ngFor="let task of tasks" style="font-size: 30px">
  <span style="color: red; padding-right: 20px">{{ task.status_extra_info.name }}</span>
  <a [href]="'https://tree.taiga.io/project/' + route.snapshot.params.slug + '/task/' + task.ref"
     target="_blank">
    {{task.ref}} - {{task.subject.length > 100 ? task.subject.substring(0, 100) + '...' : task.subject }}
  </a>
</div>
